/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/
 
/* Imports */
@charset "UTF-8";
@import url("reset.css");
@import url("global-forms.css");
@import url(http://fonts.googleapis.com/css?family=Raleway);
 
/***** Global *****/
/* HTML */
	html {
		-ms-text-size-adjust:100%;
		-webkit-text-size-adjust:100%
	}

.profile {
  position: relative;
  padding: 1px;
  float: left;
  margin: 21px 21px 0px 0px;
}
	div.profile img {
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* Body */
	body {
		background: #F7F2D5 url('../images/bg.png');
		color: #BF392D;
		/*font-size: 100%; /* Base font size: 16px */
		font-family: 'Raleway', sans-serif;
		line-height: 1.5em;
		margin: 0;
		padding: 0;
		text-align: left;
		letter-spacing:0.05em
	}

/* Paragraphs */
	p {
		line-height:1.5em;
		margin:0 0 .754em 0;
		padding:0;
		text-rendering: optimizeLegibility;
		font-size:1rem;
		hyphens: auto;
		margin-bottom: 1.143em;
	}

	* p:last-child {margin-bottom: 0;}
 
strong, b {font-weight: bold;}
em, i {font-style: italic;}
 
::-moz-selection {background: #093A47; color: #E7B33D;}
::selection {background: #093A47; color: #E7B33D;}

/* Article */
	article {
		max-width:35.22em;
		margin:1em auto 1em auto;
		padding:0 1em 0 1em}
	}
 
/* Headings */
h1 {font-size: 1.5rem}	/* 24px */
h2 {font-size: 1.375rem}	/* 22px */
h3 {font-size: 1.25rem}	    /* 20px */
h4 {font-size: 1.125rem}	/* 18px */
h5 {font-size: 1.0rem}	/* 16px */
h6 {font-size: 0.875rem}	/* 14px */
h7 {font-size: 0.75rem}	/* 12px */
 
h1, h2, h3, h4, h5, h6, h7 {
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: .8em;
}
 
/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #BF392D;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #BF392D;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
 
/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}
 
ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}
 
dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
 
/* Quotes */
blockquote {font-style: italic;}
cite {}
 
q {}
 
/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}
 
	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}
 
	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}
 
	tbody .alt td {}
	tbody .alt th {}
 
	/* Tfoot */
	tfoot th {}
	tfoot td {}
 
 /* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}


/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}
 
	/* Banner */
	#banner h1 {font-size: 3.571em; line-height: .6;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #BF392D;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .15em;
		text-decoration: none;
		width: auto;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #3D1009;
		text-shadow: none;
	}
 
	#banner h1 strong {font-size: 0.36em; font-weight: normal;}

		/* Main Nav */
	#banner nav {
		background: #3D1009;
		font-size: 1.143em;
		height: 40px;
		line-height: 30px;
		margin: 0 auto 2em auto;
		padding: 0;
		text-align: center;
		width: auto;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
	#banner nav li {float: left; display: inline; margin: 0;}
	
	#banner nav a:link, #banner nav a:visited {
		color: #F7F2D5;
		display: inline-block;
		height: 30px;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #BF392D;
		color: #E7B33D;
		text-shadow: none !important;
	}
	
	#banner nav li:first-child a {
		border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
		
		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}

/***** @media *****/
@media print{html,body,article,p{
	background-color:white;color:#222;font-size:12pt;line-height:1.3em;width:100%}
	nav,nav a,video,audio,object,embed{display:none}
	article a,article a:visited{text-decoration:underline;color:#520}
	p{page-break-inside:auto}
	article a[href^=http]:after{content:" <" attr(href) "> ";font-size:.8em}
	article a[href^="#"]:after{content:""}
	$a:after>img{content:""}
	a:not(:local-link):after{content:" <" attr(href) "> "}
	q:after{content:" (Source: " attr(cite) ")"}
	article,p,a{word-wrap:break-word}
	img{max-width:100% !important;opacity:1.0;page-break-inside:avoid}
	@page{margin:2cm}
	h1,h2,h3,h4,h5,h6,h7{page-break-after:avoid;margin:.3em 0 .3em 0}
	#hanging>h4{page-break-before:always}
	header .byline{margin:0 0 .754em 0}
}
@media(max-width:700px){html{font-size:93.75%}}
@media(min-width:700px) and (max-width:900px){html{font-size:100%}}
@media(min-width:900px) and (max-width:1200px){html{font-size:106.25%}}
@media(min-width:1200px) and (max-width:1500px){html{font-size:112.5%}}
@media(min-width:1500px){html{font-size:118.75%}}
@media(min-width:1700px){html{font-size:125%}}
@media(min-width:1940px){html{font-size:131.25%}}
@media(min-width:2420px){html{font-size:137.5%}}
@media(max-width:40em){nav{display:inline-block}}

	/*! stolen well code from bootstrap*/
.well{
	min-height:21px;padding:1px;margin-bottom:21px;background-color:#093A47;
	border:1px solid #e3e3e3;border-radius:5px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	text-indent:0 !important; color: #E7B33D;
}
.well blockquote{
	border-color: #ddd;border-color: rgba(0, 0, 0, 0.15);
}
